*{
  margin: 0;
  padding: 0;
}

body{
   background: #a2ea4c;
   background-image: -webkit-linear-gradient(45deg, #04C4D9 50%, #9C53EB 50%);
   background-image: linear-gradient(45deg, #04C4D9 50%, #9C53EB 50%);
   height: 100vh;
   color: #160B40;
}

.wrapper{
  margin: 0 auto;
  width: 1000px;

}


.info{
  display: flex
  width: 500px;
  margin: 50px;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
 }


.intro{

}

.socials{
  display: flex;
}
